<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javacodegeeks.snippets.enterprise.EmployeeMapper">
    <resultMap id="employeeResultMap" type="com.javacodegeeks.snippets.enterprise.Employee">
        <result column="name" property="name"/>
        <result column="surname" property="surname"/>
        <result column="title" property="title"/>
    </resultMap>
</mapper>